.dashboard{
    display:flex;
    gap:20px;


}
.dashboard--content{
    background: white;
    flex: 1;
    border-radius: 15px;
    padding: 3rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
